*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
ul,li{
    list-style: none;
}
h2{
    font-weight: bold;
}
.left{
    width: 27%;
}
.title{
    display: inline-block;
}
.main{
    display: flex;
}